html {
  font: 300 13px '-apple-system', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 10px 0 50px 0;
  color: #222222;
  background: white;
  /* transition: background-color 300ms ease-out; */
  text-align: center;
}

html.dark {
  color: white;
  background: #242F3E;
}

#container {
  display: inline-block;
  width: 100%;
  max-width: 480px;
  text-align: center;
}

#description {
  text-align: left;
  margin-top: 40px;
}

#description p {
  margin: 5px 0;
}

.tools {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.tools > * {
  display: inline-flex;
  margin: 0 10px;
}

.tools a {
  font-size: 14px;
  color: #108BE3;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.tools a:hover, .tools a:active, .tools a:visited {
  color: rgba(16, 139, 227, 0.71);
}

