.lovely-chart {
  .header {
    height: 30px;
    font-weight: 600;
    margin: 0 10px;

    .title, .caption {
      color: var(--text-color);
      line-height: 30px;
      transition: color 300ms ease;

      &.hidden {
        opacity: 0;
        pointer-events: none;
      }
    }

    .title {
      font-size: 16px;
      float: left;
    }

    .caption {
      text-align: right;
      float: right;
    }

    .zoom-out {
      display: flex;
      align-items: center;
      color: var(--zoom-out-text);
      cursor: pointer;

      &::before {
        content: '';
        display: inline-block;
        margin-right: 6px;
        width: 16px;
        height: 16px;

        background: url('./icon-zoom-out.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
      }
    }
  }
}
